.card {
  background: rgba(255, 255, 255, 0);
  height: 425px;
  margin: 1rem;
  position: relative;
  width: 425px;
  text-align: left;
  transition: transform 1s;
  border: none;
}
.card:hover {
transform: scale(1.1)
}
.card > .img-container {
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  text-align: center;
 
}
.card > .img-container > img {
  width: 80%;
  border-radius: 2%;
}
.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  background: rgba(255, 255, 255, 0);
}
.card > .content > ul {
  list-style-type: none;
  background: rgba(255, 255, 255, 0);
}
.card > .content > ul > li {
  margin-top: 18px;
  background: rgba(255, 255, 255, 0);
}